.encabezado{
    text-align: center;
    background-color: brown;
    font-size: 2em;
}
.cuerpo{
    background-color: aqua;
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}